<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/home/studyhome.css}">
    <link rel="stylesheet" th:href="@{/customer/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<!--<body style="background-image:url('/static/video/bg.jpg')" >-->
<body class="main" style="background-image:url('https://i.imgur.com/GhDZipY.jpg')">
<div th:insert="~{/home/home.html::header}"></div>
<!--th:style="background-image: url(@{});"-->
<img th:src="@{images/bg2.jpg}">
<div class="container">
    <form th:object="${customer}" method="post" th:action="@{/createCustomer}">
        <div class="contentCreate">

            <h4 class="text-center mb-2">Create Customer </h4>
            <div class="row ">
                <div class="col-6">
                    <div class="form-group">
                        <label for="id">ID Customer</label>
                        <input type="text" class="form-control" id="id" placeholder="Enter ID Customer"
                               th:field="*{customerId}">
                        <p style="color: yellow" th:errors="*{customerId}">Name Error</p>

                    </div>
                    <div class="form-group">
                        <label for="type">Type Customer</label>
                        <select id="type" class="form-control" th:field="*{customertypes}">
                            <!--                        <option th:value="1" selected >Choose...</option>-->
                            <option value="-1" selected>Choose...</option>
                            <th:block th:each="type:${customerTypes}">
                                <option th:selected="${type.customerTypeId==typeId}" th:value="${type.customerTypeId}"
                                        th:text="${type.customerTypeName}" value="">Type Customer
                                </option>
                            </th:block>
                        </select>
                        <p style="color: yellow" th:errors="*{customertypes}">Name Error</p>
                    </div>
                    <div class="form-group">
                        <label for="name">Name Customer</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name Customer"
                               th:field="*{customerName}">
                        <p style="color: yellow" th:errors="*{customerName}">Name Error</p>

                    </div>
                    <div class="row">
                        <div class="form-group col-5 ">
                            <label class="col-form-label" for="birthday">Birthday</label>
                            <input type="date" class="form-control" id="birthday" placeholder="mm/dd/yyyy"
                                   name="birthdayCus" th:field="*{birthday}">
                            <p style="color: yellow" th:errors="*{birthday}">Name Error</p>
                        </div>
                        <div class="form-group col-7 ">
                            <label class=" col-form-label" for="gender">Gender</label>
                            <select id="gender" class="form-control" th:field="*{gender}">
                                <option th:selected="${customer.gender==1}" value="1">Nam</option>
                                <option th:selected="${customer.gender==0}" value="0">Nữ</option>
                            </select>

                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="cmnd">CCCD/CMND</label>
                        <input type="text" class="form-control" id="cmnd" placeholder="CCCD/CMND" th:field="*{idCard}">
                        <p style="color: yellow" th:errors="*{idCard}">Name Error</p>

                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter phone Customer"
                               th:field="*{phone}">
                        <p style="color: yellow" th:errors="*{phone}">Name Error</p>

                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email Customer"
                               th:field="*{email}">
                        <p style="color: yellow" th:errors="*{email}">Name Error</p>

                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter address Customer"
                               th:field="*{address}">
                        <p style="color: yellow" th:errors="*{address}">Name Error</p>

                    </div>
                    <input type="hidden" th:value="${action}" name="action">
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <a th:href="@{/listCustomer}" class=" btn btn-info mr-2">Back</a>
                <a type="reset" class=" btn btn-dark mr-2">Reset</a>
                <button type="submit" class="btn btn-success" th:text="${action=='edit'?'Update':'Create'}">Create
                </button>
            </div>

        </div>
    </form>
</div>
<div th:insert="~{/home/home::footer}"></div>
</body>
<!--</body>-->
</html>