<div class="container">
  <form  [formGroup]="createService" (ngSubmit)="onSubmit()">
    <div class="contentCreate" style="height :672px">

      <h4 class="text-center mb-2">Create Service </h4>
      <div class="row ">
        <div class="col-6">
          <div class="form-group">
            <label >ID Service</label>
            <input type="text" class="form-control" formControlName="id" placeholder="Enter ID Service"
                  >
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.id.errors?.required && createService.controls.id?.touched" role="alert">
            ID Service is required
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.id.errors?.pattern && createService.controls.id?.touched" role="alert">
            patter is required
          </div>
          <div class="form-group">
            <label >Name Service</label>
            <input type="text" class="form-control" formControlName="name"  placeholder="Enter Name Service"
                   >
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.name.errors?.required && createService.controls.name?.touched" role="alert">
            Name is required
          </div>
          <div class="form-group">
            <label >Area Service</label>
            <input type="number" class="form-control" formControlName="area" placeholder="Enter Area Service"
                   >
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.area.errors?.required && createService.controls.area?.touched" role="alert">
            Area is required
          </div>

<!--          <div class="form-group">-->
<!--            <label >Standard Room</label>-->
<!--            <textarea type="text" class="form-control"  placeholder="Enter standard room Service"-->
<!--                     ></textarea>-->
<!--          </div>-->
          <div class="form-group">
            <label >Cost Service</label>
            <input type="number" class="form-control" formControlName="constRent" placeholder="Enter Cost Service"
            >
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.constRent.errors?.required && createService.controls.constRent?.touched" role="alert">
            Const Service is required
          </div>
        </div>
        <div class="col-6">


          <div class="form-group">
            <label >Max people Service</label>
            <input type="number" class="form-control" formControlName="maxPeople" placeholder="Enter max people Service"
            >
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.maxPeople.errors?.required && createService.controls.maxPeople?.touched" role="alert">
            Max people Service is required
          </div>

          <div class="form-group">
            <label >number of floors</label>
            <input type="number" class="form-control" formControlName="floors"  placeholder="Enter floors"
                   >
          </div>
          <div class="alert alert-danger" *ngIf="createService.controls.floors.errors?.required && createService.controls.floors?.touched" role="alert">
            Floors is required
          </div>

          <div class="form-group">
            <label >Type Services</label>
            <select  class="form-control" formControlName="idRent">
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="-1" selected>Choose...</option>
                <option *ngFor="let rent of Rents" value="{{rent.id}}">{{rent.nameRent}}</option>
            </select>


          </div>

        </div>

      </div>
      <div class="row justify-content-center mt-4">
        <a class=" btn btn-info mr-2">Back</a>
        <a type="reset" class=" btn btn-dark mr-2">Reset</a>
        <button type="submit" class="btn btn-success" >Create
        </button>
      </div>
    </div>
  </form>
</div>
