<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<a class="btn btn-warning" th:href="@{/listBook}">Back</a>
<table class="table">
    <thead>
    <tr>
        <th>code</th>
        <th>Name Book</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each="code:${codes}">
        <td th:text="${code.code}"></td>
        <td th:text="${code.book.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>