<div class="container">


    <h4 class="text-center mb-2 title2">Information</h4>
    <div class="row ">
      <div class="col-6">
        <div class="form-group">
          <label for="id">ID Employee</label>
          <input type="text" readonly class="form-control" id="id" placeholder="Enter ID Customer"
                 >
        </div>
        <div class="form-group">
          <label for="nameEmpl">Name Employee</label>
          <input type="text" readonly class="form-control" id="nameEmpl" placeholder="Enter Name Employee"
               >
        </div>
        <div class="form-group">
          <label for="birthday">BirthDay Employee</label>
          <input type="date" readonly class="form-control" id="birthday"
                >
        </div>
        <div class="form-group">
          <label for="idcard">ID Card Employee</label>
          <input type="number" readonly class="form-control" id="idcard"
               >
        </div>
        <div class="form-group">
          <label for="salary">Salary Employee</label>
          <input type="number" readonly class="form-control" id="salary"
                >
        </div>
        <div class="form-group">
          <label for="phone">Phone </label>
          <input type="number" readonly class="form-control" id="phone"
               >
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" readonly class="form-control" id="email"
                >
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" readonly class="form-control" id="address"
                >
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <select id="position" readonly class="form-control" >
            <!--                        <option th:value="1" selected >Choose...</option>-->
            <option value="-1" selected>Choose...</option>

              <option   value="">Type Customer
              </option>

          </select>

        </div>
        <div class="form-group">
          <label for="education">Education</label>
          <select id="education" readonly class="form-control" >
            <!--                        <option th:value="1" selected >Choose...</option>-->
            <option value="-1" selected>Choose...</option>

              <option value="">Type Customer
              </option>

          </select>

        </div>
        <div class="form-group">
          <label for="division">Division</label>
          <select id="division" readonly class="form-control" >
            <!--                        <option th:value="1" selected >Choose...</option>-->
            <option value="-1" selected>Choose...</option>

              <option   value="">Type Customer
              </option>

          </select>

        </div>
      </div>
    </div>

</div>
