<div class="container">
  <!--  <div class="alert alert-primary alert-dismissible fade show" role="alert">-->
  <!--    <strong ></strong>-->
  <!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
  <!--      <span aria-hidden="true">&times;</span>-->
  <!--    </button>-->
  <!--  </div>-->
  <a class="btn btn-success" routerLink="/createService">Create Service</a>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>name service</th>
      <th>Area</th>
      <th>id Types</th>
      <th>Max people</th>
      <th> #</th>
      <!--            <th>#</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of Iservices">
      <td scope="row">{{service.id}}</td>
      <td>{{service.name}}</td>
      <td>{{service.area}}</td>
      <td>{{service.idRent}}</td>
      <td>{{service.maxPeople}}</td>
      <td>
        <a class="btn btn-primary mr-2" routerLink="/updateService/{{service.id}}">Update</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
