<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Contract Detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/home/studyhome.css}">
    <link rel="stylesheet" th:href="@{/customer/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<!--<body style="background-image:url('/static/video/bg.jpg')" >-->
<body class="main" style="background-image:url('https://i.imgur.com/GhDZipY.jpg')">
<div th:insert="~{/home/home.html::header}"></div>
<!--th:style="background-image: url(@{});"-->
<!--<img th:src="@{images/bg2.jpg}">-->
<div class="container">
    <form th:object="${contractDetail}" method="post" th:action="@{/createContractDetail}">
        <div class="contentCreate" style="height :300px">

            <h4 class="text-center mb-2">Create Contract Detail</h4>
            <div class="row ">
                <div class="col-6">
                    <div class="form-group">
                        <label >ID Contract Detail</label>
                        <input type="text" class="form-control" id="id" placeholder="Enter ID Service"
                               th:field="*{detailId}">
                    </div>
                    <div class="form-group">
                        <label > Contract id </label>
                        <input type="number" class="form-control"
                               th:field="*{contract}">
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label > Quantity</label>
                        <input type="number" class="form-control"
                               th:field="*{quantity}">
                    </div>
                    <div class="form-group">
                        <label for="service">attach Service</label>
                        <select id="service" class="form-control" th:field="*{attachService.attachServiceId}">
                            <!--                        <option th:value="1" selected >Choose...</option>-->
                            <option value="-1" selected>Choose...</option>
                            <th:block th:each="hu:${anh}">
                                <!--/*@thymesVar id="attachServiceId" type=""*/-->
                                <option th:value="${hu.attachService.getAttachServiceId()}"
                                        th:text="${hu.attachService.getAttchServiceName()}" value="">Type Rent
                                </option>
                            </th:block>
                        </select>
                    </div>
                </div>
                </div>
            <div class="row justify-content-center mt-4">
                <a th:href="@{/listContractDetail}" class=" btn btn-info mr-2">Back</a>
                <a type="reset" class=" btn btn-dark mr-2">Reset</a>
                <button type="submit" class="btn btn-success" >Create
                </button>
            </div>
        </div>
    </form>
</div>
<div th:insert="~{/home/home::footer}"></div>
</body>
<!--</body>-->
</html>