<div  class="container" >
  <div class="alert alert-primary alert-dismissible fade show" role="alert" >
    <strong ></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <a class="btn btn-success"></a>

  <table class="table" style="background-color: #d5989861">
    <thead>
    <tr >
      <th>STT</th>
      <th>ID</th>
      <th>Date Start</th>
      <th>Date End</th>
      <th>Total Money</th>

    </tr>
    </thead>
    <tbody>
    <tr >
      <td scope="row">1</td>
      <td scope="row" >1</td>
      <td >uyen</td>
      <td>uyen</td>
      <td >uyen</td>

      <!--            <td >-->
      <!--                <a class="btn btn-danger" th:href="@{deleteService/{id}(id=${service.serviceId})}" id="deleteButton" th:text="Delete"></a>-->
      <!--            </td>-->
    </tr>

    </tbody>
  </table>
<!--  <div style=" text-align: center;">-->
<!--    <a class="btn btn-warning" th:href="@{'/listContractDetail'(page=${contractDetails.number - 1})}" th:if="${contractDetails.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${contractDetails.number + 1}"></span>/<span th:text="${contractDetails.totalPages}"></span>-->
<!--    <a class="btn btn-warning"  th:href="@{'/listContractDetail'(page=${contractDetails.number + 1})}" th:if="${contractDetails.hasNext()}">Next</a>-->
<!--  </div>-->

  <!--    <div>-->
  <!--        <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>-->
  <!--        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
  <!--        <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>-->
  <!--    </div>-->
</div>
