<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/home/studyhome.css}">
    <link rel="stylesheet" th:href="@{/customer/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<!--<body style="background-image:url('/static/video/bg.jpg')" >-->
<body class="main" style="background-image:url('https://i.imgur.com/GhDZipY.jpg')"  >
<div th:insert="~{/home/home.html::header}"></div>

<div  class="container" >
    <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${mess}">
        <strong th:text="${mess}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <a class="btn btn-success" th:href="@{/createService}" th:text="Create"></a>

    <table class="table" style="background-color: #d5989861">
        <thead>
        <tr >
            <th>ID</th>
            <th>name service</th>
            <th>Area</th>
            <th>Service Types</th>
            <th>type Rent</th>
<!--            <th>#</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="service :${services}">
            <td scope="row" th:text="${service.serviceId}">1</td>
            <td th:text="${service.nameService}">uyen</td>
            <td th:text="${service.serviceArea}">uyen</td>
            <td th:text="${service.serviceTypes.serviceTypeName}">282</td>
            <td th:text="${service.rentType.rentTypeName}">282</td>
<!--            <td >-->
<!--                <a class="btn btn-danger" th:href="@{deleteService/{id}(id=${service.serviceId})}" id="deleteButton" th:text="Delete"></a>-->
<!--            </td>-->
        </tr>

        </tbody>
    </table>
    <div style=" text-align: center;">
        <a class="btn btn-warning" th:href="@{'/listCustomer'(page=${services.number - 1})}" th:if="${services.hasPrevious()}">Previous</a>
        <span th:text="${services.number + 1}"></span>/<span th:text="${services.totalPages}"></span>
        <a class="btn btn-warning"  th:href="@{'/listCustomer'(page=${services.number + 1})}" th:if="${services.hasNext()}">Next</a>
    </div>

    <!--    <div>-->
    <!--        <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>-->
    <!--        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
    <!--        <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>-->
    <!--    </div>-->
</div>
<div th:insert="~{/home/home::footer}"></div>
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xoá không ?<a></a></p>
            </div>
            <div class="modal-footer">
                <a href="" type="button" class="btn btn-primary" id="delRef">Có</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".table #deleteButton").on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        })
    })
</script>
<!--</body>-->
</html>