<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h4 class="text-danger" th:text="${message}"></h4>
<h2>List Product</h2>
<a class="btn btn-info" th:href="@{/buy}">Cart (<label th:text="${quantity}"></label>)</a>
<div class="container">
    <div class="row" >
        <div class="col-3" th:each="product : ${products}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://specials-images.forbesimg.com/imageserve/60db6f4968299bd8be481fd8/Young-woman-taking-a-picture/960x0.jpg?fit=scale" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.nameProduct}"></h5>
                    <p class="card-text" th:text="${product.oldPrice}"></p>
                    <p class="card-text" th:text="${product.newPrice}"></p>
                    <a th:href="@{/view/{id}(id=${product.idProduct})}" class="btn btn-primary">Contract Supplier</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>