body{
    font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
 
}
#header{
    height: 50px;
    background-color: #4168b4;
    position: fixed;
   width: 1000px;
    top: 0;
    clear: both;
}
#search{
    float: left;
    height: 50px;
    position: relative;
    top: 10px;
}
#search img {
    height: 20px;
    position: relative;
    top: 5px;
}
#virticalMenu{
    float: left;
    height: 50px;
    position: relative;
    top: 6px;
    margin-left: 50px;
}
#virticalMenu img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: relative;
    top:7px;
}
#virticalMenu span{
    margin-top: 10px;
    color: white;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}
.fas{
    margin-left: 10px;
}
.fab{
    margin-left: 10px;
}

#content{
    float: left;

}
#navbar-left{
    height: 500px; width: 250px;
     background-color: #f0f2f5;
      float: left;
      margin-top: 50px;
}
.element{
    margin-top: 20px;
    
}
.element_story{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 168px;
}
.element_story img{
    width: 170px;
    height: 200px;
    border-radius: 10px;
}
.element_story .fas{
    position: relative;
    top: 40px;
    /* left: 40px; */
    font-size: 23px; 
    color: white;

  
} 
.element_story #anh_story{
    width: 24px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: 37px;
    left: 13px;
    border: 1px solid white;

  
} 
.element_story span{
    font-weight: bold;
    /* margin-left: -158px; */
    /* margin-bottom: -17px; */
    /* margin-top: 10px; */
    position: relative;
    left: 10px;
    bottom: 39px;
    color: WHITE;
}
#post img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
#post{
    height: 45px;
    background: orange;
    margin-top: 248px;
    border-radius: 26px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;

}
#post input{
    position: absolute;
    left: 10px;
    text-align: center;
    width: 538px;
    height: 24px;
    position: absolute;
    left: 71px;
    bottom: 7px;
    border-radius: 9px;
    border: none;

}
#post i{
    float: right;
    margin-right: 35px;
    font-size: 20px;
    margin-top: 5px;
}
.post_bai{
    height: 300px;
    background-color: #f0f2f5;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.post_bai #anh_dep{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid blue;
}
.post_bai span{
    position: relative;
    bottom: 12px;
    font-weight: bold;
}
#mins{
    font-style: italic;
    position: relative;
    top: 4px;
    font-size: 12px;
    color: gray;
    left: -34px;
}