<div class="container">
  <form [formGroup]="createContract" (ngSubmit)="onSubmit()">
    <div class="contentCreate" style="height :672px">

      <h4 class="text-center mb-2">Create Contract </h4>
      <div class="row ">
        <div class="col-6">
          <div class="form-group">
            <label >ID Contract</label>
            <input type="number" class="form-control" formControlName="idContract" id="id" placeholder="Enter ID Service"
                   >
          </div>
          <div class="alert alert-danger" *ngIf="createContract.controls.idContract.errors?.required && createContract.controls.idContract?.touched" role="alert">
            ID is required
          </div>
          <div class="form-group">
            <label > Date Start </label>
            <input type="date" formControlName="dateCreate" class="form-control">
          </div> <div class="alert alert-danger" *ngIf="createContract.controls.dateCreate.errors?.required && createContract.controls.dateCreate?.touched" role="alert">
          Date is required
        </div>
          <div class="form-group">
            <label > End Start </label>
            <input type="date" formControlName="dateEnd" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="createContract.controls.dateEnd.errors?.required && createContract.controls.dateEnd?.touched" role="alert">
            Date is required
          </div>
          <div class="form-group">
            <label >Contract Deposit </label>
            <input type="number" class="form-control" formControlName="deposits"  placeholder="Enter Area Service">
          </div>

          <div class="form-group">
            <label >Total Money</label>
            <input type="number" class="form-control" formControlName="totalMoney">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="service"> Service</label>
            <select id="service"  formControlName="idService" class="form-control" >
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="-1" selected>Choose...</option>

                <option *ngFor="let service of Iservices" value="{{service.idService}}">{{service.name}}
                </option>

            </select>

          </div>

          <div class="form-group">
            <label for="type"> Customer</label>
            <select id="type" class="form-control" formControlName="idCustomer">
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="-1" selected>Choose...</option>

                <option  *ngFor="let customer of customers"  value="{{customer.id}}">{{customer.customerName}}
                </option>

            </select>

          </div>
          <div class="form-group">
            <label >Employee</label>
            <select  class="form-control" formControlName="idEmployee">
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="-1" selected>Choose...</option>

                <option  *ngFor="let emp of employees" value="{{emp.id}}">{{emp.name}}
                </option>

            </select>


          </div>
        </div>

      </div>
      <div class="row justify-content-center mt-4">
        <a  class=" btn btn-info mr-2">Back</a>
        <a type="reset" class=" btn btn-dark mr-2">Reset</a>
        <button type="submit" class="btn btn-success" >Create</button>
      </div>
    </div>
  </form>
</div>
