<div class="container">
  <form [formGroup]="updateEmployee" (ngSubmit)="onUpdate()">
    <div class="contentCreate" style="height: 764px">

      <h4 class="text-center mb-2">Create Employee </h4>
      <div class="row ">
        <div class="col-6">
          <div class="form-group">
            <label for="id">ID Employee</label>
            <input type="text" class="form-control" readonly formControlName="id" id="id" placeholder="Enter ID Customer"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.id.errors?.required && updateEmployee.controls.id?.touched" role="alert">
              ID is required
            </div>

            <div class="alert alert-danger" *ngIf="updateEmployee.controls.id.errors?.pattern && updateEmployee.controls.id?.touched" role="alert">
              wrong format NV-XXXX
            </div>
          </div>
          <div class="form-group">
            <label for="nameEmpl">Name Employee</label>
            <input type="text" class="form-control" id="nameEmpl" formControlName="name" placeholder="Enter Name Employee"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.id.errors?.required && updateEmployee.controls.id?.touched" role="alert">
              Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="birthday">BirthDay Employee</label>
            <input type="date" class="form-control" formControlName="birthday" id="birthday"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.birthday.errors?.required && updateEmployee.controls.birthday?.touched" role="alert">
              birthday is required
            </div>
          </div>
          <div class="form-group">
            <label for="idcard">ID Card Employee</label>
            <input type="number"  formControlName="idCard" class="form-control" id="idcard"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.idCard.errors?.required && updateEmployee.controls.idCard?.touched" role="alert">
              ID Card is required
            </div>
          </div>
          <div class="form-group">
            <label for="salary">Salary Employee</label>
            <input type="number" formControlName="salary" class="form-control" id="salary"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.salary.errors?.required && updateEmployee.controls.salary?.touched" role="alert">
              Salary is required
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone </label>
            <input type="number" formControlName="phone" class="form-control" id="phone"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.phone.errors?.required && updateEmployee.controls.phone?.touched" role="alert">
              Phone is required
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" id="email"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.email.errors?.required && updateEmployee.controls.email?.touched" role="alert">
              Email is required
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" formControlName="address" class="form-control" id="address"
            >
            <div class="alert alert-danger" *ngIf="updateEmployee.controls.address.errors?.required && updateEmployee.controls.address?.touched" role="alert">
              Address is required
            </div>
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <select id="position" formControlName="positionId" class="form-control">
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="1">Lễ tân</option>
              <option value="2">Phục vụ</option>
              <option value="3">Chuyên viên</option>
              <option value="4">Giám sát</option>
              <option value="5">Quản lí</option>
              <option value="6">Giám đốc</option>
            </select>

          </div>
          <div class="form-group">
            <label for="education">Education</label>
            <select id="education" formControlName="eductionId" class="form-control">
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="1">Trung cấp</option>
              <option value="2">Cao Đẳng</option>
              <option value="3">Đại Học</option>
              <option value="4">Sau Đại Học</option>
            </select>


          </div>
          <div class="form-group">
            <label for="division">Division</label>
            <select id="division" formControlName="divisionId" class="form-control">
              <!--                        <option th:value="1" selected >Choose...</option>-->
              <option value="1">Sale - Marketing</option>
              <option value="2">Hành chính</option>
              <option value="3">Phục vụ</option>
              <option value="4">Quản lí</option>

            </select>


          </div>
          <input type="hidden" name="action">
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <a class=" btn btn-info mr-2" routerLink="/employee">Back</a>
        <a type="reset" class=" btn btn-dark mr-2">Reset</a>
        <button type="submit" class="btn btn-success">Update
        </button>
      </div>

    </div>
  </form>
</div>
